* {
  font-family: Helvetica;
}

body {
  text-align: center;
}

#home {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-repeat: no-repeat;
  height: 400px;
  overflow: hidden;
}

.menu {
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
}

h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.banner h2 {
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

footer {
  background-color: dimgray;
  text-align: left;
}

.footer-p {
  display: inline;
}

.footer-menu a {
  font-size: 11px;
  display: inline;
}

.footer-nav {
  display: inline;
}
